body {
  background-color: #121212;
  color: #fff;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

nav {
  background-color: #333;
  padding: 0.5rem;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin-right: 1rem;
  margin-left: 1rem;
}


nav ul {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

.nav-cart {
  position: relative;
}

.search-bar {
  flex-grow: 1;
  margin-left: 1rem;
  margin-right: 1rem;
}

.search-bar input {
  width: 100%;
  background-color: #444;
  color: #fff;
  border: 1px solid #555;
  padding: 0.5rem;
  border-radius: 0.25rem;
  outline: none;
}

.item-card {
  border: 1px solid #444;
  background-color: #2a2a2a;
  padding: 1rem;
  margin-bottom: 1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  width: 150px;
  border-radius: 4px;
  text-align: left;
}

.item-card h2 {
  color: #4caf50;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
}

.item-card p {
  margin-top: 0.15rem;
  margin-bottom: 0.15rem;
}

.item-card button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 8px 2px;
  cursor: pointer;
  border-radius: 4px;
  width: 100%;
}

.items-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item-detail {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.item-detail-left {
  flex: 1;
  margin-right: 1rem;
}

.item-detail-right {
  flex: 1;
}

.item-detail img {
  width: 200px;
  height: auto;
  object-fit: cover;
  margin-right: 20px;
}

.item-info {
  text-align: left;
}

.back-button {
  display: inline-block;
  margin-bottom: 20px;
  color: #fff;
  text-decoration: none;
}

.cart-dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #333;
  width: 400px; /* Increased width */
  z-index: 1;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.cart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: #444;
  border-radius: 5px 5px 0 0;
}

.cart-footer {
  background-color: #444;
  padding: 0.5rem 1rem;
  border-radius: 0 0 5px 5px;
}

.cart-dropdown-close {
  font-size: 1.5rem;
  color: #fff;
  background: none;
  border: none;
  cursor: pointer;
}

.cart-items {
  display: flex;
  flex-direction: column;
  max-height: 50vh; /* Adjust the max height of the items list */
  overflow-y: auto; /* Enable vertical scrolling */
  padding: 1rem;
}

.cart-item:hover {
  background-color: #444;
}

.cart-item {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  width: 100%;
  text-decoration: none;
  padding: 0.5rem;
  box-sizing: border-box;
}

.cart-item:last-child {
  border-bottom: none;
}

.cart-item-image {
  max-width: 100px;
  height: auto;
  object-fit: cover;
  margin-right: 1rem;
  flex-shrink: 0; /* Prevent the image from shrinking */
}

.cart-item-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.cart-item-info {
  flex-grow: 1;
  text-align: left;
  display: flex;
  justify-content: space-between; /* Adjust the layout of the item details and price */
  width: 100%; /* Make the item-info span the entire width */
}

.cart-item-details {
  flex-grow: 1;
  margin-right: 1rem;
}

.cart-item-price {
  margin-right: 1rem;
  white-space: nowrap;
}

.remove-item {
  cursor: pointer;
  font-size: 1.5rem;
  color: #fff;
  background: none;
  border: none;
}

.remove-item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart-total {
  display: flex;
  justify-content: space-between;
}

.cart-dropdown-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.cart-dropdown-buttons button {
  width: 50%;
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 0;
  cursor: pointer;
  border-radius: 4px;
}

.user-email-button,
.sell-button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 0;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.user-email-button:hover,
.sell-button:hover {
  background-color: #3e8e41;
}